<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Abstract MP3 audio file from the Youtube clip</title>
  </head>

  <body>
    <div class="top-container">
      <h1>Abstract MP3 audio file from the Youtube clip</h1>
    </div>

    <form action="/convert-mp3" method="POST" id="form">
      <p>Enter the Youtube URL</p>
      <div>
        <input
          type="text"
          name="videoId"
          placeholder="ex. https://www.youtube.com/watch?v=...."
        /><button id="submit-btn">Convert</button>
      </div>
    </form>

    <div class="bottom-container">
      <% if (typeof success != "undefined" && success) { %>
      <div class="success">
        <p><%= song_title %></p>
        <a href="<%= song_link %>"
          ><button id="download-btn">DOWNLOAD</button></a
        >
      </div>
      <% } else if (typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p>Oops, There is something wrong!</p>
        <p><%= message %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
