* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #1e2130;
}

body {
  overflow: hidden;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.top-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #ededed;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
}

#form {
  width: 60%;
  margin: 40px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 2rem;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 20px;
}

#form > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

#form > div > p {
  margin: 20px 0;
}

#form input {
  width: 60%;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px #dfdfdf;
}

#form button {
  width: 20%;
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 2px 5px #dfdfdf;
  transition: 0.2s ease-out;
}

#form button:hover {
  color: white;
  background-color: #6200e8;
  border: 1px solid #6200e8;
  box-shadow: 2px 3px 5px #b892f2;
}

.errors {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: #b00020;
  background-color: #ffe6e6;
  border: 1px solid #b00020;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: black;
}

#download-btn {
  width: fit-content;
  color: black;
  padding: 12px 24px;
  color: white;
  background-color: #18aa0b;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 6px #18aa0b77;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid #18aa0b;
  transition: 0.2s ease-out;
}

#download-btn:hover {
  color: #18aa0b;
  background-color: white;
  border: 1px solid #18aa0b;
}

.success p {
  margin: 20px auto;
}

@media (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }

  .bottom-container {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 1.2rem;
  }

  #form,
  .success {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #form input {
    width: 50%;
  }
}
